* {
  padding: 0;
  margin: 0;
}

html {
  font-family: Arial;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

img {
  width: 25px
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  border: 2px solid #000;
  border-radius: 15%;
  min-width: 20px;
  height: 22px;
  text-align: center;
}

a:hover {
  background-color: rgb(240, 240, 240);
}

.wrapper div {
  display: flex;
  gap: 5px
}

.edit {
  padding: 5px;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 15px;
}

.editor {
  border: 2px solid #000;
  border-radius: 10px;
  width: 100%;
  min-height: 200px;
  margin-top: 10px;
  padding: 5px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strike {
  text-decoration:line-through;
}

.asda {
  font-weight: 600;
  text-align: center;
  position: relative;
}

.asda:before {
  position: absolute;
  content: "";
  transform: translate(-50%, -50%) rotate(45deg);
  top: 45%;
  left: 50%;
  width: 90%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #fff;
}

.left {
  justify-content: start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: right;
}

.justify {
  justify-content: space-between;
}

.divParent {
  display: flex;
  align-items: center;
}